---
import Layout from "../layouts/Layout.astro";

let res = await fetch("https://not-a-robot.com//wp-json/wp/v2/posts");
let posts = await res.json();
---

<Layout title="Welcome to Not-A-Robot dot com">
  <h1 class="font-serif text-6xl p-8">Not-A-Robot</h1>
  <section class="p-8 prose lg:prose-xl">
    {
      posts.map((post: any) => (
        <article>
          <h2 class="text-2xl mb-8">
            <a
              href={`/posts/${post.slug}/`}
              set:html={post.title.rendered}
              class="text-orange-500"
            />
          </h2>
          <Fragment set:html={post.content.rendered} />
        </article>
      ))
    }
  </section>
</Layout>
