---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"button"> {
  type?: "button" | "submit";
  size?: "sm" | "md" | "lg";
  classes?: string;
  variant?: "primary" | "secondary" | "outline";
}

const {
  type = "button",
  size = "md",
  variant = "primary",
  classes,
  ...rest
} = Astro.props;
---

<button
  {type}
  data-size={size}
  data-variant={variant}
  class:list={[
    "transition-all ease-in-out duration-300 outline-0 focus-visible:ring focus-visible:ring-offset-2",
    variant === "primary" && "",
    variant === "secondary" && "",
    variant === "outline" && "",
    size === "sm" && "text-xs",
    size === "md" && "text-sm",
    size === "lg" && "text-lg",
    classes,
  ]}
  {...rest}
>
  <slot />
</button>
